{% load static %}
{% include 'conference_planning/includes/nav.html' %}

  
<main class="main">
    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="{% static 'assets/img/first.JPG'%}" alt="" data-aos="fade-in" class="">

      <div class="container d-flex flex-column align-items-center text-center mt-auto">
        <h2 data-aos="fade-up" data-aos-delay="100" class=""><br><span>RE4SG</span> CONFERENCE & EXHIBITION IS BACK</h2>
        <p data-aos="fade-up" data-aos-delay="200">"Empowering Africa’s Energy Future: Innovation, Transition, and Sustainability"</p>
        <div data-aos="fade-up" data-aos-delay="300" class="">
        
          <a href="https://www.youtube.com/watch?v=HOMm6FmJuJA&t=187s" class="glightbox pulsating-play-btn mt-3"></a>
        
       
        </div>
      </div>
      <div class="about-info mt-auto position-relative">

        <div class="container position-relative" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-6">
              <h2>About the conference</h2>
              <p>The Renewable Energy for Sustainable Growth (RE4SG) Conference and
                 Exhibition has grown into a pivotal platform for promoting renewable energy solutions in Africa. 
                 Following the success of four previous editions (2017, 2018, 2019, and 2024) held in Kigali, Rwanda, 
                 this 5th edition is poised to achieve greater impact. The previous conferences catalyzed investments, 
                 informed policy development, advanced renewable energy technologies, Green Transport, Access to clean cooking, 
                 climate finance and carbon credits, gender inclusivity in energy transition facilitated knowledge sharing,
                 and strengthened collaborations among stakeholders.</p>
            </div>
            <div class="col-lg-3">
              <h3>Where</h3>
              <p> Kigali - Rwanda</p>
            </div>
            <div class="col-lg-3">
              <h3>When</h3>
              <p>8th - 12th September</p>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

   


    <!-- Venue Section -->

      <!-- Section Title -->
       <section>
      <div class="container section-title" data-aos="fade-up">
        <h2>Event Venue<br></h2>
        <p>Energy Week Conference Exhibition Venues & Activities</p>
        
      </div><!-- End Section Title -->

      <div class="container-fluid" data-aos="fade-up">

        <div class="row g-0">
          
          <div class="col-lg-3 venue-info">
            <div class="row justify-content-center">
              <div class="col-11 col-lg-8 position-relative">
                <h3> Norrsken House Kigali </h3>
                <p>In room engagement</p>
              </div>
            </div>
          </div>
         
          <div class="col-lg-3 venue-info">
            <div class="row justify-content-center">
              <div class="col-11 col-lg-8 position-relative">
                <h3>Kigali car free zone
                  (Imbuga City).</h3>
                <p>Exhibition and matchmaking</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 venue-info">
            <div class="row justify-content-center">
              <div class="col-11 col-lg-8 position-relative">
                <h3>Site Visits</h3>
                <p>50 megawatts Methane gas project, Hydropower, Agri photovoltaic project and E-mobility
                  project</p>
              </div>
            </div>
          </div>
           <div class="col-lg-3 venue-info">
            <div class="row justify-content-center">
              <div class="col-11 col-lg-8 position-relative">
                <h3>Kigali City</h3>
                <p>Visit Rwanda</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="container-fluid venue-gallery-container" data-aos="fade-up" data-aos-delay="100">
        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="{% static 'assets/img/venue-gallery/image.png'%}" class="glightbox" data-gall="venue-gallery">
                <img src="{% static 'assets/img/venue-gallery/image.png'%}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="{% static 'assets/img/venue-gallery/imbuga.jpg'%}" class="glightbox" data-gall="venue-gallery">
                <img src="{% static 'assets/img/venue-gallery/imbuga.jpg'%}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="{% static 'assets/img/venue-gallery/nasho_irrigation.jpg'%}" class="glightbox" data-gall="venue-gallery">
                <img src="{% static 'assets/img/venue-gallery/nasho_irrigation.jpg'%}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="{% static 'assets/img/venue-gallery/kigali_city.jpg'%}" class="glightbox" data-gall="venue-gallery">
                <img src="{% static 'assets/img/venue-gallery/kigali_city.jpg'%}" alt="" class="img-fluid">
              </a>
            </div>
          </div>
         

        </div>
      </div>

    </section><!-- /Venue Section -->

    <!-- Hotels Section -->
    <section id="hotels" class="hotels section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Hotels</h2>
        <p>The hotels within Kigali where you can stay during the conference</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card h-100">
              <div class="card-img">
                <a href="https://www.marriott.com/">
                <img src="{% static 'assets/img/hotels/marriot.jpg'%}" alt="" class="img-fluid">
                </a>
              </div>
              <h3><a href="https://www.marriott.com/" class="stretched-link">Kigali Marriott Hotel</a></h3>
              <div class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div>
              <p>3 min (450.0 m) via KN 4 Ave and KN 65 St from the Venue</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card h-100">
              <div class="card-img">
                <img src="{% static 'assets/img/hotels/mhotel.jpg'%}" alt="" class="img-fluid">
              </div>
              <h3><a href="https://mhotelkigali.com/" class="stretched-link">M Hotel</a></h3>
              <div class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div>
              <p>7 min (2.8 km) via KN 3 Rd from the venue</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card h-100">
              <div class="card-img">
                <a href="https://www.onomohotels.com/" class="stretched-link">
                <img src="{% static 'assets/img/hotels/onomo.webp'%}" alt="" class="img-fluid">
                </a>  
              </div>
              <h3><a href="https://www.onomohotels.com/" class="stretched-link">Onomo Hotel</a></h3>
              <div class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div>
              <p>6 min (2.5 km) via KN 3 Rd from the Venue</p>
            </div>
          </div><!-- End Card Item -->

        </div>

      </div>

    </section><!-- /Hotels Section -->

    <!-- Gallery Section -->
    <section id="gallery" class="gallery section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>RE4SG - 4 Edition Highlights</h2>
        <p>Highlights from the previous conference</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "centeredSlides": true,
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 0
                },
                "768": {
                  "slidesPerView": 3,
                  "spaceBetween": 20
                },
                "1200": {
                  "slidesPerView": 5,
                  "spaceBetween": 20
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/highlights/first.JPG'%}"><img src="{% static 'assets/img/highlights/first.JPG'%}" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/highlights/ex1.JPG' %}"><img src="{% static 'assets/img/highlights/ex1.JPG' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/highlights/ex2.JPG'%}"><img src="{% static 'assets/img/highlights/ex2.JPG'%}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/highlights/ex3.JPG' %}"><img src="{% static 'assets/img/highlights/ex3.JPG' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/highlights/second.JPG' %}"><img src="{% static 'assets/img/highlights/second.JPG' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/highlights/third.JPG'%}"><img src="{% static 'assets/img/highlights/third.JPG'%}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/highlights/forth.JPG' %}"><img src="{% static 'assets/img/highlights/forth.JPG' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/highlights/fifth.JPG' %}"><img src="{% static 'assets/img/highlights/fifth.JPG' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/highlights/sixth.JPG' %}"><img src="{% static 'assets/img/highlights/sixth.JPG' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/highlights/seventh.JPG' %}"><img src="{% static 'assets/img/highlights/seventh.JPG' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/highlights/eighth.JPG' %}"><img src="{% static 'assets/img/highlights/eighth.JPG' %}" class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Gallery Section -->

    <!-- Sponsors Section -->
    <section id="sponsors" class="sponsors section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Our Sponsors</h2>
        <p></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0 clients-wrap">
             {% for sponsor in sponsors %}
          <div class="col-xl-3 col-md-4 client-logo">
            <a href="{{ sponsor.url }}">
            <img src="{{ sponsor.logo.url }}" class="img-fluid" alt="{{ sponsor.organization_name }} Logo">
              </a>
          </div><!-- End Client Item -->
          {% endfor %}
        </div>

      </div>

    </section><!-- /Sponsors Section -->
    



          <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <p>KG 630 St No 1
                Kimihurura-Rugando</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3 col-md-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone"></i>
              <h3>Give us a call</h3>
              <p>(+250) 788-310-434</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3 col-md-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope"></i>
              <h3>Email Us</h3>
              <p>info@epdrwanda.com</p>
            </div>
          </div><!-- End Info Item -->

        </div>

        <div class="row gy-4 mt-1">
          <div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
            <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15955.01622030673!2d30.057089!3d-1.9440729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x19dca6d65b8df281%3A0x25ee8d92e0f0cfc6!2sKigali!5e0!3m2!1sen!2srw!4v1715177731790!5m2!1sen!2srw" 
            frameborder="0" 
            style="border:0; width: 100%; height: 400px;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
          
          </div><!-- End Google Maps -->

         
        </div>

      </div>

    </section><!-- /Contact Section -->
       
      </div>

    </section><!-- /Buy Tickets Section -->
  </main>
  {% include 'conference_planning/includes/footer.html'%}