{% load static %}
{% include 'conference_planning/includes/nav.html' %}


<section id="hero" class="hero section dark-background" style="padding: 70px 0;min-height: auto; height: auto;"

>

  <img src="{% static 'assets/img/second.jpg'%}" alt="" data-aos="fade-in" class="" style="max-height: 500px;width: 100%; object-fit: cover; ">

  <div class="container d-flex flex-column align-items-center text-center mt-auto">
    <h2 data-aos="fade-up" data-aos-delay="100" class="" style="font-size: 40px; margin: 30px 0;"><br><span class="RE4SG">RE4SG</span> AGENDA</h2>
  </div>
  

</section><!-- /Hero Section -->
<!-- Schedule Section -->

<section id="schedule" class="schedule section">

   <!-- Section Title -->
   <div class="container section-title" data-aos="fade-up">
     <h2>Select a day to view its detailed schedule <br></h2>
     <!-- <p>Agenda -  5th Edition of The Renewable Energy for Sustainable Growth (RE4SG) Conference and Exhibition</p> -->
   </div><!-- End Section Title -->

   <div class="container">

     <ul class="nav nav-tabs" role="tablist" data-aos="fade-up" data-aos-delay="100">
       <li class="nav-item">
         <a class="nav-link active" href="#day-1" role="tab" data-bs-toggle="tab">Setup</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#day-2" role="tab" data-bs-toggle="tab">Day 1 </a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#day-3" role="tab" data-bs-toggle="tab">Day 2</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="#day-4" role="tab" data-bs-toggle="tab">Site visits</a>
      </li>
     </ul>

     <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">

       <!-- <h3 class="sub-heading">Voluptatem nulla veniam soluta et corrupti consequatur neque eveniet officia. Eius necessitatibus voluptatem quis labore perspiciatis quia.</h3> -->
       <img src="{% static 'assets/img/HEADER2026.png' %}" alt="Description of the image" class="sub-heading">

       
         <!-- Schdule Day 4 -->
         <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-4">
          <div class="row schedule-item" style="background-color:;">
            <div class="col-md-12" style="color:darkgreen; font-weight: bold;"><h4><b><i>Site visits</i></b><b> (September 10th, 2025)</b></h4></div>
          </div>
          <div class="row schedule-item text-center font-weight-bold py-2 bg-light border-bottom">
            <div class="col-md-2">
              <h5 class="text-uppercase">Time</h5>
            </div>
            <div class="col-md-6">
              <h5 class="text-uppercase">Sites</h5>
            </div>
            <div class="col-md-4">
              <h5 class="text-uppercase">Responsible Party</h5>
            </div>
          </div>
          <div class="row schedule-item">
            <div class="col-md-2"><time>Full Day</time></div>
            <div class="col-md-6">
              

              <ul>
                
                <li><b>Sinohydro Corporation</b></li>
                <li><b>Enviroserve Rwanda (E-Waste and Recycling Plant)</b></li>
                <li><b>SLS Energy (Re-purposing batteries facility)</b></li>
                <li><b>Clean Cooking Stove Fuel Manufacturing Plant</b></li>
                <li><b>E-Mobility and Charging Station</b></li>
              
              
              </ul>
            </div>
            <div class="col-md-4">
             <h4>Pre-registered Participants</h4>
           </div>
          </div>
           <!-- <div class="row schedule-item" style="background-color:;">
            <div class="col-md-12" style="color:darkgreen; font-weight: bold;"><h4><b><i>Day 5</i></b><b> (September 
              12th, 2025)</b></h4></div>
          </div>
          <div class="row schedule-item">
            <div class="col-md-2"><time>Full Day</time></div>
            <div class="col-md-6">
              
              <h4>Visit Rwanda </h4>
             
            </div>
            <div class="col-md-4">
             <h4></h4>
           </div>
          </div> -->
        </div> 
         <!-- End Schdule Day 4 -->
          
       <!-- Schdule Day 1 -->
       <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
        <div class="row schedule-item" style="background-color:;">
          <div class="col-md-12" style="color:darkgreen; font-weight: bold;"><h4><b>A day before the conference (September 7th, 2025)</b></h4></div>
        </div>
        <div class="row schedule-item text-center font-weight-bold py-2 bg-light border-bottom">
          <div class="col-md-2">
            <h5 class="text-uppercase">Time</h5>
          </div>
          <div class="col-md-6">
            <h5 class="text-uppercase">Program</h5>
          </div>
          <div class="col-md-4">
            <h5 class="text-uppercase">Responsible Party</h5>
          </div>
        </div>
         <div class="row schedule-item">
           <div class="col-md-2"><time>09:00 - 17:00</time></div>
           <div class="col-md-6">
             <h4>Venue setup</h4>
             <p> Exhibition and conference room setup</p>
           </div>

           <div class="col-md-4">
            <h4>Organizing Committee</h4>
          
          </div>
         </div>
        </div>
        <!-- End Schdule Day 1 -->

       <!-- Schdule Day 2 -->
       <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">
        <div class="row schedule-item" style="background-color:;">
          <div class="col-md-12" style="color:darkgreen; font-weight: bold;"><h4><b>Day 1 (September 8th, 2025)</b></h4></div>
        </div>

            <!-- the heading of the agenda (titles) -->
            <div class="row schedule-item text-center font-weight-bold py-2 bg-light border-bottom">
              <div class="col-md-2">
                <h5 class="text-uppercase">Time</h5>
              </div>
              <div class="col-md-6">
                <h5 class="text-uppercase">Program</h5>
              </div>
              <div class="col-md-4">
                <h5 class="text-uppercase">Responsible Party</h5>
              </div>
            </div>
            

         <div class="row schedule-item">
           <div class="col-md-2"><time>08:00 – 09:00</time></div>
           <div class="col-md-6">
             <!-- <div class="speaker">
               <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
             </div> -->
             <h4>Registration</h4>
             <p>Participant check-in and networking</p>
           </div>
           <div class="col-md-4">
            <h4>Organizing Committee </h4>
          
          </div>
         </div>

         <!-- <div class="row schedule-item">
          <div class="col-md-2"><time>09:00 – 09:05</time></div>
          <div class="col-md-6">
            <div class="speaker">
              <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
            </div>
            <h4>Welcom</h4>
            <p>Icebreaker and participant introductions </p>
          </div>
          <div class="col-md-4">
           <h4>MC: Shallirosena Paschal Mbwette</h4>
         
         </div>
        </div> -->

         
        <div class="row schedule-item">
          <div class="col-md-2"><time>09:00 – 09:05</time></div>
          <div class="col-md-6">
            <!-- <div class="speaker">
              <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
            </div> -->
            <h4>Opening Remarks by CEO of Energy Private Developers(EPD)</h4>
            <p>Welcome address from the host</p>
          </div>
          <div class="col-md-4">
           <h4>Mr. Serge Wilson MUHIZI</h4>
         
         </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time> 09:05 – 09:10</time></div>
          <div class="col-md-6">
            <h4>Remarks from PSF</h4>
            <p></p>
          </div>
          <div class="col-md-4">
            <h4>Private Sector Federation </h4>
         </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time> 09:10 – 09:15</time></div>
          <div class="col-md-6">
            <h4>Remarks from REG</h4>
            <p></p>
          </div>
          <div class="col-md-4">
            <h4>Rwanda Energy Group</h4>
         </div>
        </div>
         <div class="row schedule-item">
           <div class="col-md-2"><time>09:15 – 09:20</time></div>
           <div class="col-md-6">
            <h4>Remarks from GRC </h4>
            <!-- <p>Partnership and global energy 
              transition overview  </p> -->
           </div>
           <div class="col-md-4">
           <p><h4>Global Renewables 
            Centre/Strathclyde University</h4>
              <!-- <i>Senior Knowledge Exchange Fellow</i></p> -->
          </div>
         </div>

         <div class="row schedule-item">
          <div class="col-md-2"><time>09:20 – 09:25</time></div>
          <div class="col-md-6">
          
            <h4>Remarks from WRI</h4>
            <p> </p>
          </div>
          <div class="col-md-4">
            
            <h4>World Resources Institute</h4>
         </div>
        </div>

         <div class="row schedule-item">
          <div class="col-md-2"><time>09:25 – 09:30</time></div>
          <div class="col-md-6">
          
            <h4>Remarks from EPD Chairperson</h4>
            <p> </p>
          </div>
          <div class="col-md-4">
            
            <h4>Dr. Ivan TWAGIRASHEMA</h4>
         </div>
        </div>


        <div class="row schedule-item">
          <div class="col-md-2"><time>09:30 – 09:40</time></div>
          <div class="col-md-6">
          
            <h4>Remarks from China Embassy</h4>
            <p> </p>
          </div>
          <div class="col-md-4">
            
            <h4></h4>
         </div>
        </div>

        

        <div class="row schedule-item">
          <div class="col-md-2"><time>09:40 – 09:50</time></div>
          <div class="col-md-6">
            <h4>Guest of honor</h4>
            <p>Official Opening by Minister of Infrastructure</p>
          </div>
          <div class="col-md-4">
            <h4>Dr. Jimmy GASORE</h4>
         </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>09:50 – 10:00 </time></div>
          <div class="col-md-6">
            
            <h4>Project launch and Group photo</h4>
            <p></p>
          </div>
          <div class="col-md-4">
           <h4></h4>
         
         </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>10:00 – 10:30</time></div>
          <div class="col-md-6">
          
            <h4>Coffee Break, Exhibition & Networking</h4>
            <p></p>
          </div>
          <div class="col-md-4">
           <h4></h4>
         
         </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>10:30 – 11:30 </time></div>
          <div class="col-md-6">
            
            <h4>Public Private Dialogue</h4>
            <p>On mission 300 and PPPs(Gap between Law on Paper and Implementation).</p>
          </div>
          <div class="col-md-4">
           <h4></h4>
         
         </div>
        </div>

       


        <div class="row schedule-item">
          <div class="col-md-2"><time>11:30 – 12:30</time></div>
          <div class="col-md-6">
         
            <h4>Panel Discussion</h4>
            <p>South-South (Africa-China) Collaboration</p>
          </div>
          <div class="col-md-4">
            <h4 class="mb-3">Panelists</h4>
            <ul class="list-unstyled mb-4">
              <li><b>China</b></li>
              <li><b>Ethiopia</b> </li>
              <li><b>Kenya</b></li>
              <li><b>WRI</b></li>
              <li><b>Rwanda</b></li>
            </ul>
          
            <div>
              <p class="mb-1"><i><u>Moderator:</u></i></p>
              <h4 class="mb-0">TBC</h4>
              <small><i></i></small>
            </div>
          </div>
          
        </div>



        <div class="row schedule-item">
          <div class="col-md-2"><time>12:30 – 13:30 </time></div>
          <div class="col-md-6">
          
            <h4>Lunch Break </h4>
            <p>Networking over lunch </p>
          </div>
          <div class="col-md-4">
           <h4>Organizing 
            Committee</h4>
         
         </div>
        </div>

        <div class="row schedule-item align-items-start">
          <div class="col-md-2">
            <time>13:30 – 14:30</time>
          </div>
        
          <div class="col-md-6">
            <h4 class="mb-2">Panel Discussion</h4>
              <p>Energy-Food Nexus and Climate- Resilient and regenerative Agriculture. (Refrigeration, Cold Storage in Agricultural Value Chains)</p>
          
            <p class="mb-0">
              
            </p>
          </div>
        
          <div class="col-md-4">
            <h4 class="mb-3">Panelists</h4>
            <ul class="list-unstyled mb-4">
              <li><b>SNV</b></li>
              <li><b>Kilimo Trust</b></li>
              <li><b>PDN</b></li>
              <li><b>Highland center</b></li>
              <li><b>RCCDN</b></li>
              <li><b>EPD</b></li>
              <li><b>ACES</b></li>
            </ul>
        
            <div>
              <p class="mb-1"><i><u>Moderator:</u></i></p>
              <h4 class="mb-0">TBC</h4>
              <small><i></i></small>
            </div>
          </div>
        </div>
        

        <div class="row schedule-item">
          <div class="col-md-2"><time>14:30 – 15:30 </time></div>
          <div class="col-md-6">
        
            <h4>Panel Discussion</h4>
            <p>Institutional Clean Cooking Solutions </p>
          </div>
          <div class="col-md-4">
            <h4 class="mb-3">Panelists</h4>
            <ul class="list-unstyled mb-4">
              <li><b>MININFRA</b></li>
              <li><b>EDCL</b></li>
              <li><b>CLASP</b></li>
              <li><b>HOSO</b></li>
              <li><b>GazMeth</b></li>
            </ul>
        
            <div>
              <p class="mb-1"><i><u>Moderator:</u></i></p>
              <h4 class="mb-0">TBC</h4>
              <small><i></i></small>
            </div>
          </div>
        </div>

       

        <div class="row schedule-item">
          <div class="col-md-2"><time>15:30 – 16:30 </time></div>
          <div class="col-md-6">
          
            <h4>Panel Discussion</h4>
            <p>Energy Mix: Nuclear, Methane, Hydro, Solar, Hydrogen</p>
          </div>
          <div class="col-md-4">
            <h4 class="mb-3">Panelists</h4>
            <ul class="list-unstyled mb-4">
             
              <li><b>RAEB</b></li>
              <li><b>MININFRA</b></li>
              <li><b>Andrew MBANGUKIRA</b></li>
              <li><b>Richard Mori</b></li>
              <li><b>GazMeth</b></li>
           
              
            </ul>
        
            <div>
              <p class="mb-1"><i><u>Moderator:</u></i></p>
              <h4 class="mb-0">Mr. Jean Claude UWIZEYE</h4>
              <small><i></i></small>
            </div>
          </div>
  
        </div>

        
        
        <div class="row schedule-item">
          <div class="col-md-2"><time>16:30 – 17:30 </time></div>
          <div class="col-md-6">
          
            <h4>Business networking and Matchmaking (B2B,B2C,B2G))</h4>
            <p>An interactive session for networking, business connections, and showcasing innovative energy solutions.</p>
          </div>
          <div class="col-md-4">
           <h4>Moderator</h4>
         
         </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>17:30 – 17:40</time></div>
          <div class="col-md-6">
          
            <h4>Wrap-up of the Day</h4>
            <p>Key takeaways of the day</p>
            
          </div>
          <div class="col-md-4">
           <h4></h4>
           <!-- <small><i>EPD Vice-Chairman</i></small> -->
         
         </div>
        </div>

     

        <div class="row schedule-item">
          <div class="col-md-2"><time>18:30 – 20:00</time></div>
          <div class="col-md-6">
            <!-- <div class="speaker">
              <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
            </div> -->
            <h4>Business Networking Dinner & Award 
              Ceremony</h4>
            <p>Business matchmaking dinner </p>
          </div>
          <div class="col-md-4">
           <h4>Organizing 
            Committee</h4>
         </div>
        </div>


       </div><!-- End Schdule Day 2 -->

        <!-- Schdule Day 3 -->
        <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">
          <div class="row schedule-item" style="background-color:;">
            <div class="col-md-12" style="color:darkgreen; font-weight: bold;"><h4><b>Day 2 (September 9th, 2025)</b></h4></div>
          </div>
          <div class="row schedule-item text-center font-weight-bold py-2 bg-light border-bottom">
            <div class="col-md-2">
              <h5 class="text-uppercase">Time</h5>
            </div>
            <div class="col-md-6">
              <h5 class="text-uppercase">Program</h5>
            </div>
            <div class="col-md-4">
              <h5 class="text-uppercase">Responsible Party</h5>
            </div>
          </div>
          <div class="row schedule-item">
            <div class="col-md-2"><time>08:00 – 09:00</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4>Registration</h4>
              <p>Participant check-in and networking</p>
            </div>
            <div class="col-md-4">
            <h4>Organizing Committee </h4>
          
          </div>
          </div>
          <div class="row schedule-item">
            <div class="col-md-2"><time>09:00 – 10:00</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4>Project, Research, and Paper Presentations</h4>
              <p></p>
            </div>
            <div class="col-md-4">
              <h4 class="mb-3">Presenters:</h4>
              <ul class="list-unstyled mb-4">
                <li><b>Companies</b> </li>
                <li><b>Researchers</b> </li>
                <li><b>Students</b> </li>
              </ul>
          
          </div>
          </div>
          <div class="row schedule-item">
            <div class="col-md-2"><time>10:00 – 10:30</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4>Coffee Break, Exhibition & Networking</h4>
              <!-- <p>Industry leaders showcase 
                innovations </p> -->
            </div>
            <div class="col-md-4">
            <h4>Organizing commettee</h4>
          
          </div>
          </div>
          <div class="row schedule-item">
            <div class="col-md-2"><time>10:30 – 11:30</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4>Panel Discussion</h4>
              <p>Role of Industrial Association in Energy Transition by Global Renewable Centre</p>
             
            </div>
            <div class="col-md-4">
              <h4 class="mb-3">Panelists</h4>
              <ul class="list-unstyled mb-4">
                <li><b>Malawi</b></li>
                <li><b>Zambia</b></li>
                <li><b>Rwanda</b></li>
                <li><b>Kenya</b></li>
                <li><b>Ethiopia</b></li>
                <li><b>Scotland</b></li>
                

              </ul>
            
              <div>
                <p class="mb-1"><i><u>Moderator:</u></i></p>
                <h4 class="mb-0">TBC</h4>
                <!-- <small><i>Jean-Claude Uwizeye, Executive Vice-Chairman and Head of Productive Use of Renewable Energy at EPD</i></small> -->
              </div>
            </div>
            
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>11:30 – 12:30</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4>Panel Discussion</h4>
              <p>Gender Equality, Social Inclusion, and Just Transition</p>
            </div>
            <div class="col-md-4">
              <!-- <h4 class="mb-3">Panelists</h4>
              <ul class="list-unstyled mb-4">
                <li><b>TBC</b></li>
              </ul> -->
          
          </div>
          </div>
          <div class="row schedule-item">
            <div class="col-md-2"><time>12:30 – 13:30</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4>Networking Lunch</h4>
              <!-- <p>Informal networking session</p> -->
            </div>
            <div class="col-md-4">
            <h4>Participants</h4>
          
          </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>13:15 – 14:30</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4>Panel Discussion</h4>
              <p>Power Storage Systems and Energy Solutions for Data Centers</p>
            </div>
            <div class="col-md-4">
              <h4 class="mb-3">Panelists</h4>
              <ul class="list-unstyled mb-0">
                <li><b>Global Solar Council(GSC)</b></li>
                <li><b>Solektra</b></li>
                <li><b>Kolmena</b></li>
                <li><b>RISA</b></li>
                <li><b>Abundio Energy Africa Ltd</b></li>
                <li><b>Explova consult</b></li>   
              </ul>
            </div>
            
          </div>

          <!-- <div class="row schedule-item">
            <div class="col-md-2"><time>14:30 – 15:30</time></div>
            <div class="col-md-6">
              <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div>
              <h4> Q&A </h4>
              
            </div>
            <div class="col-md-4">
            <h4>Session Facilitator</h4>
          
          </div>
          </div> -->

          <div class="row schedule-item">
            <div class="col-md-2"><time>14:30 – 15:30</time></div>
            <div class="col-md-6">
            
              <h4>Panel Discussion</h4>
              <p>E-Mobility: Policy, Infrastructure, and Technology (E- Waste Management)</p>
            </div>
            <div class="col-md-4">
             
                <h4 class="mb-3">Panelists</h4>
                <ul class="list-unstyled mb-4">
                  <li><b>United Electric Vehicles (UEV)</b> </li>
                  <li><b>SPIRO</b> </li>
                  <li><b>PREV</b> </li>
                  <li><b>Enviroserve</b></li>
                  
                </ul>
              
                <div>
                 
                </div>
              </div>
              
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>15:30 - 16:30</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4>Panel Discussion</h4>
              <p>Access to finance, green bond and carbon credit opportunities in Africa.</p>
      
            </div>
            <div class="col-md-4">
              <h4 class="mb-3">Panelists</h4>
              <ul class="list-unstyled mb-4">
                <li><b>BRD</b></li>
                <li><b>Private Developer</b></li>
                <li><b>WRI</b></li>
                <li><b>Carbon credit Developer</b></li>
                <li><b></b></li>
                
              </ul>
            
              <div>
                <!-- <p class="mb-1"><i><u>Moderator:</u></i></p>
                <h4 class="mb-0">Alain HARELIMANA</h4>
                <small><i>MD of Solektra Rwanda</i></small> -->
              </div>
            </div>
            
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>16:30 - 17:30</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4>Business networking and Matchmaking (B2B, B2C, B2G) Sessions</h4>
              <p>Interactive session</p>
            </div>
            <div class="col-md-4">
            <h4>Session Facilitator</h4>
          
          </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>17:30 - 17:40</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4>Key takeaways from
                Day 2 
                
            </div>
            <div class="col-md-4">
              <h4 class="mb-3">MC of the day</h4>
              
            
              <div>
                <!-- <p class="mb-1"><i><u>Moderator:</u></i></p>
                <h4 class="mb-0">Doreen Orishaba</h4>
                <small><i>MD of BasiGo Rwanda</i></small> -->
              </div>
            </div>
            
          </div>

        </div><!-- End Schdule Day 3 -->

     </div>
   </div>
 </section><!-- /Schedule Section -->

 <!-- <section>
   <div class="row" style="text-align: center;">
          {% for  document in documents %}
          <div class="col-md-12 ">

          <a href="{{ document.pdf_document.url }}" target="_blank" style="font-family: Arial, Helvetica, sans-serif;font-weight:bold ;""> Download agenda PDF</a>
              
          
          </div>
        
      
          {% endfor %}
  
      </div>
 </section> -->

 {% include 'conference_planning/includes/footer.html' %}