{% load static %}
{% include 'conference_planning/includes/nav.html' %}


<section id="hero" class="hero section dark-background" style="padding: 70px 0;min-height: auto; height: auto;"

>

  <img src="{% static 'assets/img/second.JPG'%}" alt="" data-aos="fade-in" class="" style="max-height: 500px;width: 100%; object-fit: cover; ">

  <div class="container d-flex flex-column align-items-center text-center mt-auto">
    <h2 data-aos="fade-up" data-aos-delay="100" class="" style="font-size: 40px; margin: 30px 0;"><br><span>RE4SG</span> AGENDA</h2>
  </div>
  

</section><!-- /Hero Section -->
<!-- Schedule Section -->

<section id="schedule" class="schedule section">

   <!-- Section Title -->
   <div class="container section-title" data-aos="fade-up">
     <h2>Select a day to view its detailed schedule <br></h2>
     <!-- <p>Agenda -  5th Edition of The Renewable Energy for Sustainable Growth (RE4SG) Conference and Exhibition</p> -->
   </div><!-- End Section Title -->

   <div class="container">

     <ul class="nav nav-tabs" role="tablist" data-aos="fade-up" data-aos-delay="100">
       <li class="nav-item">
         <a class="nav-link active" href="#day-1" role="tab" data-bs-toggle="tab">Day 1</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#day-2" role="tab" data-bs-toggle="tab">Day 2</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#day-3" role="tab" data-bs-toggle="tab">Day 3</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="#day-4" role="tab" data-bs-toggle="tab">Day 4&5</a>
      </li>
     </ul>

     <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">

       <!-- <h3 class="sub-heading">Voluptatem nulla veniam soluta et corrupti consequatur neque eveniet officia. Eius necessitatibus voluptatem quis labore perspiciatis quia.</h3> -->
       <img src="{% static 'images/HEADER.png' %}" alt="Description of the image" class="sub-heading">

       
         <!-- Schdule Day 4 -->
         <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-4">
          <div class="row schedule-item" style="background-color:;">
            <div class="col-md-12" style="color:darkgreen; font-weight: bold;"><h4><b><i>Day 4</i></b><b> (September 
              11th, 2025)</b></h4></div>
          </div>
          <div class="row schedule-item text-center font-weight-bold py-2 bg-light border-bottom">
            <div class="col-md-2">
              <h5 class="text-uppercase">Time</h5>
            </div>
            <div class="col-md-6">
              <h5 class="text-uppercase">Program</h5>
            </div>
            <div class="col-md-4">
              <h5 class="text-uppercase">Responsible Party</h5>
            </div>
          </div>
          <div class="row schedule-item">
            <div class="col-md-2"><time>Full Day</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4>Site Visits </h4>
              <p>50MW Methane Gas  Power Plant Projectt, 
                3.3MW Solar-Powered Irrigation Project, 
                A flagship Hydro power plant Facility, 
                E-Mobility charging station and assembly facilities, 
                Clean cooking stove and fuel manufacturing plant.
              </p>
            </div>
            <div class="col-md-4">
             <h4>Pre-registered Participants</h4>
           </div>
          </div>
           <div class="row schedule-item" style="background-color:;">
            <div class="col-md-12" style="color:darkgreen; font-weight: bold;"><h4><b><i>Day 5</i></b><b> (September 
              12th, 2025)</b></h4></div>
          </div>
          <div class="row schedule-item">
            <div class="col-md-2"><time>Full Day</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4>Visit Rwanda </h4>
             
            </div>
            <div class="col-md-4">
             <h4></h4>
           </div>
          </div>
        </div> 
         <!-- End Schdule Day 4 -->
          
       <!-- Schdule Day 1 -->
       <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
        <div class="row schedule-item" style="background-color:;">
          <div class="col-md-12" style="color:darkgreen; font-weight: bold;"><h4><b>September 8th 2025</b></h4></div>
        </div>
        <div class="row schedule-item text-center font-weight-bold py-2 bg-light border-bottom">
          <div class="col-md-2">
            <h5 class="text-uppercase">Time</h5>
          </div>
          <div class="col-md-6">
            <h5 class="text-uppercase">Program</h5>
          </div>
          <div class="col-md-4">
            <h5 class="text-uppercase">Responsible Party</h5>
          </div>
        </div>
         <div class="row schedule-item">
           <div class="col-md-2"><time>09:00 - 17:00</time></div>
           <div class="col-md-6">
             <h4>Exhibition</h4>
             <p> Exhibition and conference room setup</p>
           </div>

           <div class="col-md-4">
            <h4>Organizing Committee</h4>
          
          </div>
         </div>
        </div>
        <!-- End Schdule Day 1 -->

       <!-- Schdule Day 2 -->
       <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">
        <div class="row schedule-item" style="background-color:;">
          <div class="col-md-12" style="color:darkgreen; font-weight: bold;"><h4><b>September 9th 2025</b></h4></div>
        </div>

            <!-- the heading of the agenda (titles) -->
            <div class="row schedule-item text-center font-weight-bold py-2 bg-light border-bottom">
              <div class="col-md-2">
                <h5 class="text-uppercase">Time</h5>
              </div>
              <div class="col-md-6">
                <h5 class="text-uppercase">Program</h5>
              </div>
              <div class="col-md-4">
                <h5 class="text-uppercase">Responsible Party</h5>
              </div>
            </div>
            

         <div class="row schedule-item">
           <div class="col-md-2"><time>08:00 – 08:45</time></div>
           <div class="col-md-6">
             <!-- <div class="speaker">
               <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
             </div> -->
             <h4>Registration and Welcome 
              Coffee</h4>
             <p>Participant check-in and networking</p>
           </div>
           <div class="col-md-4">
            <h4>Organizing Committee </h4>
          
          </div>
         </div>

         <div class="row schedule-item">
          <div class="col-md-2"><time>08:45 – 09:00</time></div>
          <div class="col-md-6">
            <!-- <div class="speaker">
              <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
            </div> -->
            <h4>In-room engagement</h4>
            <p>Icebreaker and participant introductions </p>
          </div>
          <div class="col-md-4">
           <h4>MC/Facilitator</h4>
         
         </div>
        </div>

         
        <div class="row schedule-item">
          <div class="col-md-2"><time>09:00 – 09:05</time></div>
          <div class="col-md-6">
            <!-- <div class="speaker">
              <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
            </div> -->
            <h4>Opening Remarks by EPD </h4>
            <p>Welcome address from the host  </p>
          </div>
          <div class="col-md-4">
           <h4>EPD Representative</h4>
         
         </div>
        </div>

         <div class="row schedule-item">
           <div class="col-md-2"><time>09:05 – 09:10</time></div>
           <div class="col-md-6">
          
             <h4>Remarks from PSF</h4>
             <p>Insights on Rwanda’s energy 
              landscape </p>
           </div>
           <div class="col-md-4">
            <h4>Stephen RUZIBIZA</h4>
          
          </div>
         </div>

         <div class="row schedule-item">
          <div class="col-md-2"><time>09:10 – 09:15</time></div>
          <div class="col-md-6">
         
            <h4>Remarks from RDB</h4>
          
          </div>
          <div class="col-md-4">
           <h4>RDB</h4>
         
         </div>
        </div>

         <div class="row schedule-item">
          <div class="col-md-2"><time>09:15 – 09:20</time></div>
          <div class="col-md-6">
          
            <h4>Remarks from Global Renewables 
              Centre/Strathclyde University </h4>
            <p>Partnership and global energy 
              transition overview  </p>
          </div>
          <div class="col-md-4">
           <h4>Damien Frame</h4>
         
         </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>09:20 – 09:25</time></div>
          <div class="col-md-6">
           
            <h4>Remarks from Scottish 
              Government Representative </h4>
            <p>Scotland's role in Africa's renewable energy Initiatives</p>
          </div>
          <div class="col-md-4">
           <h4>Scottish Government </h4>
         
         </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>09:25 – 09:30</time></div>
          <div class="col-md-6">
          
            <h4>Remarks from EPD Executive 
              Chairman</h4>
            <p>Vision and objectives EPD roles and 
              achievements   </p>
          </div>
          <div class="col-md-4">
           <h4>Dr. Ivan TWAGIRASHEMA</h4>
         
         </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>09:30 – 09:40 </time></div>
          <div class="col-md-6">
            
            <h4>Official Opening by Guest of 
              Honor </h4>
            <p>Formal opening of the conference </p>
          </div>
          <div class="col-md-4">
           <h4>MININFRA Official  </h4>
         
         </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>09:40 – 09:50</time></div>
          <div class="col-md-6">
          
            <h4>Projects Launch</h4>
            <p>Introduction of new energy projects  </p>
          </div>
          <div class="col-md-4">
           <h4>Project Leads</h4>
         
         </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>09:50 – 10:00 </time></div>
          <div class="col-md-6">
            
            <h4>Group Photo</h4>
            <p>Official photo session </p>
          </div>
          <div class="col-md-4">
           <h4>Organizing 
            Committee</h4>
         
         </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>10:00 – 10:30</time></div>
          <div class="col-md-6">
          
            <h4>Networking Coffee Break & 
              Exhibition Tour </h4>
            <p>Exploration of exhibitions and 
              networking </p>
          </div>
          <div class="col-md-4">
           <h4>All Participants</h4>
         
         </div>
        </div>


        <div class="row schedule-item">
          <div class="col-md-2"><time>10:30 – 11:15</time></div>
          <div class="col-md-6">
         
            <h4><b>Plenary Session 1:</b> Rwanda 
              NST2 ESSP Implementation </h4>
            <p>Analysis of National Strategy for 
              Transformation (NST2) progress</p>
          </div>
          <div class="col-md-4">
           <h4>MININFRA,UNDP,Francine MUNYANEZA</h4>
           <p><i><u>Moderator</u></i><h4>Albert BUTARE</h4><i>AESG Rwanda CEO</i></p>
         
         </div>
        </div>


        <div class="row schedule-item">
          <div class="col-md-2"><time>11:15 – 12:30 </time></div>
          <div class="col-md-6">
           
            <h4>Q&A</h4>
            <p>Open floor for participant questions </p>
          </div>
          <div class="col-md-4">
           <h4>Panelists</h4>
            
         </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>12:30 – 13:30 </time></div>
          <div class="col-md-6">
          
            <h4>Lunch Break </h4>
            <p>Networking over lunch </p>
          </div>
          <div class="col-md-4">
           <h4>Organizing 
            Committee</h4>
         
         </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>13:30 – 14:15 </time></div>
          <div class="col-md-6">
            
            <h4><b>Panel Discussion</b> 
              Mission 300 and  Energy 
              Transition Challenges in Africa</h4>
            <p>Scaling up access to clean energy 
              for 300 million people by 2030  </p>
          </div>
          <div class="col-md-4">
           <h4>GGGI, Dr. Sunday Stephen OKPOYIBO, Brave Mhonie, Richard Mori</h4>
           <p><i><u>Moderator</u></i><h4>Ivan Asiimwe</h4><i>EnerBot Founder & CEO</i></p>
         
         </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>14:15 – 14:30 </time></div>
          <div class="col-md-6">
        
            <h4>Q&A </h4>
            <p>Clarifications and discussions   </p>
          </div>
          <div class="col-md-4">
           <h4>Moderator</h4>
         
         </div>
        </div>

       

        <div class="row schedule-item">
          <div class="col-md-2"><time>14:30 – 15:15 </time></div>
          <div class="col-md-6">
          
            <h4><b> Panel Discussion:</b> Financing clean cooking: The billion dollars question  </h4>
            <p>Innovation approaches to mobilising international and domestic sources of the capital towards clean cooking </p>
          </div>
          <div class="col-md-4">
           <h4> GIZ, 
            Luxdev, REG/EDCL,
            IRENA,RCCDN,Ehudi SHINGIRO</h4>

              <p><i><u>Moderator</u></i><h4>Caroline Achieng</h4><i></i></p>
         
         </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>15:15 – 15:30 </time></div>
          <div class="col-md-6">
          
            <h4>Q&A </h4>
            <p>Interactive session with panelists </p>
          </div>
          <div class="col-md-4">
           <h4>Moderator</h4>
         
         </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2">
            <time>15:30 – 16:15</time>
          </div>
        
          <div class="col-md-5">
          <ul>
            <li><h4><b>Panel Discussion:</b> Advancing Gender Inclusivity in Energy Transition</h4>
              <p>Gender perspectives and empowerment in the sector</p><br></li>
              <li><h4><b>Presentation:</b> Success Story Presentation</h4></li>
          </ul>
            
             
           
          </div>
        
          <div class="col-md-5">
         <h4> Liliane UWANZIGA MUPENDE, Dr. Alice IKUZWE, Damien Frame </h4>
         
         <p><i><u>Moderator</u></i><h4>Allen MUNGANYINKA</h4><i></i></p> 
         <br>
         <p><i><u>Speaker</u></i><h4>Nicole MUKWINDI</h4><i></i></p> 
          </div>
        </div>
        

        <div class="row schedule-item">
          <div class="col-md-2"><time>16:15 – 16:30 </time></div>
          <div class="col-md-6">
          
            <h4>Q&A</h4>
            <p>Discussions on gender inclusivity </p>
            
          </div>
          <div class="col-md-4">
           <h4>Moderator</h4>
         
         </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>16:30 – 17:00 </time></div>
          <div class="col-md-6">
          
            <h4>Matchmaking & Exibition</h4>
            <p>An interactive session for networking, business connections, and showcasing innovative energy solutions.</p>
          </div>
          <div class="col-md-4">
           <h4>Event Moderator</h4>
         
         </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>18:30 – 20:30</time></div>
          <div class="col-md-6">
            <!-- <div class="speaker">
              <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
            </div> -->
            <h4>Networking Dinner & Award 
              Ceremony</h4>
            <p>Business matchmaking dinner </p>
          </div>
          <div class="col-md-4">
           <h4>Organizing 
            Committee</h4>
         </div>
        </div>


       </div><!-- End Schdule Day 2 -->

        <!-- Schdule Day 3 -->
        <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">
          <div class="row schedule-item" style="background-color:;">
            <div class="col-md-12" style="color:darkgreen; font-weight: bold;"><h4><b>September 10th, 2025</b></h4></div>
          </div>
          <div class="row schedule-item text-center font-weight-bold py-2 bg-light border-bottom">
            <div class="col-md-2">
              <h5 class="text-uppercase">Time</h5>
            </div>
            <div class="col-md-6">
              <h5 class="text-uppercase">Program</h5>
            </div>
            <div class="col-md-4">
              <h5 class="text-uppercase">Responsible Party</h5>
            </div>
          </div>
          <div class="row schedule-item">
            <div class="col-md-2"><time>08:00 – 08:45</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4>Registration</h4>
              <p>Participant check-in and networking</p>
            </div>
            <div class="col-md-4">
            <h4>Organizing Committee </h4>
          
          </div>
          </div>
          <div class="row schedule-item">
            <div class="col-md-2"><time>08:45 – 09:00</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4>In-room Engagement</h4>
              <p>Briefing on the day’s sessions </p>
            </div>
            <div class="col-md-4">
            <h4>MC/Facilitator </h4>
          
          </div>
          </div>
          <div class="row schedule-item">
            <div class="col-md-2"><time>09:00 – 09:30</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4>Company Presentation </h4>
              <p>Industry leaders showcase 
                innovations </p>
            </div>
            <div class="col-md-4">
            <h4>Corporate Leaders  </h4>
          
          </div>
          </div>
          <div class="row schedule-item">
            <div class="col-md-2"><time>09:30 – 10:30</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4><b>Policy Dialogue:</b>  Energy-Food 
                Nexus </h4>
              <p>How energy policies impact food 
                security</p>
            </div>
            <div class="col-md-4">
              <h4>Dr. Ivan TWAGIRASHEMA, Claude UWIZEYE, Wilson MATEKENYA, BRD, DG Minagri </h4>
          
          </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>10:30 – 10:45</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4>Q&A</h4>
              <p></p>
            </div>
            <div class="col-md-4">
              <h4>
                IRENA</h4>
          
          </div>
          </div>
          <div class="row schedule-item">
            <div class="col-md-2"><time>10:45 – 11:15</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4>Networking Coffee</h4>
              <p>Informal networking session</p>
            </div>
            <div class="col-md-4">
            <h4>All Participants</h4>
          
          </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>11:15 – 12:00</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4>Global Renewables 
                    Centre Impact in Africa </h4>
              <p>Case studies from Scotland, 
                  Malawi, Rwanda, and Zambia</p>
            </div>
            <div class="col-md-4">
            <h4>Global Renewables Centre</h4>
          
          </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>12:00 – 12:15</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4> Q&A </h4>
              
            </div>
            <div class="col-md-4">
            <h4>Session Facilitator</h4>
          
          </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>12:15 - 13:00</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4><b>Panel Discussion:</b> Solar for Commercial & 
                Industrial Use/Storage/ Energy 
                Efficiency </h4>
              <p>Renewable energy solutions for 
                businesses</p>
            </div>
            <div class="col-md-4">
            <h4>Dr. Ivan TWAGIRASHEMA, Florien Gumyusenge
            , Dr. Aran Eales</h4>
            <p><i><u>Moderator</u></i><h4>Leandre BERWA</h4><i>SLS Co-Founder & CEO</i></p>
          </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>13:00 – 13:15</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4>Q&A</h4>
              <p>Interactive engagement </p>
            </div>
            <div class="col-md-4">
            <h4>Session Facilitator</h4>
          
          </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>13:15 - 14:15</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4>Networking Lunch</h4>
              <p>Informal discussions over lunch</p>
            </div>
            <div class="col-md-4">
            <h4>Organizing 
              Committee</h4>
          
          </div>
          </div>


          

        

          <div class="row schedule-item">
            <div class="col-md-2"><time>14:15 – 15:00</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4> <b>Panel Descussion</b> Mobilizing Investment For Green Energy Transition</h4>
              <p>Strategies for financing and sustainable energy investments</p>
      
            </div>
            <div class="col-md-4">
              <h4>
                Hon. Senator NYINAWAMWIZA Laetitia, Idrissa Octave, BRD,EQUITY BANK,Bank of Kigali 
          </h4>
          <p><i><u>Moderator</u></i><h4>Alain HARELIMANA</h4><i>MD of Solektra Rwanda</i></p>
          </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>15:00 – 15:15 </time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4>Q&A</h4>
              <p>Interactive engagement </p>
            </div>
            <div class="col-md-4">
            <h4>Session Facilitator</h4>
          
          </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>15:15 – 16:00</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4><b> Panel Discussion:</b> Scaling Up 
                EV Infrastructure in Africa</h4>
              <p> Challenges and opportunities in 
                  charging station deployment, grid 
                  readiness, and investment needs 
                    and capacities </p>
            </div>
            <div class="col-md-4">
              <h4>Rwanda Green Fund, 
                  GIZ, Donald KABANDA, KABISA, REG</h4>
                  <p><i><u>Moderator</u></i><h4>Doreen Orishaba</h4><i>MD of BasiGo Rwanda</i></p>
          </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>16:00 – 16:15</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4>Q&A</h4>
              <p>Interactive session</p>
            </div>
            <div class="col-md-4">
            <h4>Moderator</h4>
          </div>
          </div>

          
          <div class="row schedule-item">
            <div class="col-md-2"><time>16:15 – 17:00 </time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4><b>Presentation: </b>Carbon Markets and Africa’s Energy Transition</h4>
              <p> How Africa can benefit from global carbon trading mechanisms. Addressing market volatility and policy barriers</p>
            </div>
            <div class="col-md-4">
            <h4> Terra Energy Ltd</h4>
          </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>17:00 – 18:30 </time></div>
            <div class="col-md-6">
            
              <h4>Matchmaking & Exibition</h4>
              <p>An interactive session for networking, business connections, and showcasing innovative energy solutions.</p>
            </div>
            <div class="col-md-4">
            <h4>MC Facilitator</h4>
          
          </div>
          </div>


          <div class="row schedule-item">
            <div class="col-md-2"><time>18:30 – 20:30</time></div>
            <div class="col-md-6">
              <!-- <div class="speaker">
                <img src="{% static 'images/emmy.jpg'%}" alt="Brenden Legros">
              </div> -->
              <h4>General Assembly session </h4>
              <p> </p>
            </div>
            <div class="col-md-4">
            <h4>all EPD active members</h4>
          </div>
          </div>

        </div><!-- End Schdule Day 3 -->

     </div>
   </div>
 </section><!-- /Schedule Section -->

 <!-- <section>
   <div class="row" style="text-align: center;">
          {% for  document in documents %}
          <div class="col-md-12 ">

          <a href="{{ document.pdf_document.url }}" target="_blank" style="font-family: Arial, Helvetica, sans-serif;font-weight:bold ;""> Download agenda PDF</a>
              
          
          </div>
        
      
          {% endfor %}
  
      </div>
 </section> -->

 {% include 'conference_planning/includes/footer.html' %}